@import url("./reset.css");
@import url("./header.css");
@import url("./section-1.css");
@import url("./section-2.css");

@import url("./media-queries.css");

:root {
  --primary-color: #3d2514;
}

body {
  font-family: "Montserrat", sans-serif;
}

.site-wrapper {
  overflow: hidden;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;

  /* TODO: delete next lines */
  border-right: 1px solid red;
  border-left: 1px solid red;
}
