@media screen and (max-width: 1100px) {
  header .bottom {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .bottom .left {
    margin-top: 0;
  }

  header .bottom .left p {
    margin-right: auto;
    margin-left: auto;
  }

  .section-1 .main-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  header .top {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    gap: 30px;
  }

  header .top .right .right-top {
    justify-content: flex-start;
  }

  .section-1 .grid-container {
    grid-template-columns: repeat(1, minmax(280px, 596px));
    grid-template-rows: repeat(3, 192px);
    grid-template-areas:
      "left left"
      "right-top right-top"
      "right-bottom right-bottom";
    column-gap: 0;
  }

  .section-3 .main-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-3 .flex-container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .section-3 .left {
    padding-left: 0;
  }

  .section-3 .left .circles-container {
    justify-content: center;
  }

  .section-3 .right {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
}
