@import url("./reset.css");

@font-face {
  font-family: Reey;
  src: url("../fonts/Reey-Regular.otf");
}

:root {
  --primary-color: #27292c;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
}

/* HEADER */
header {
  background: url(../images/header-background.png) no-repeat center / cover;
  color: #fff;
}

header .top {
  padding: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

header .top .open-nav-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  display: none;
}

header .top nav {
  position: relative;
}

header .top ul {
  display: flex;
  align-items: center;
  gap: 55px;
}

header .top ul a {
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

header .top .close-nav-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  display: none;
}

header .top form {
  width: 180px;
  position: relative;
  flex-shrink: 0;
}

header .top form input {
  width: 100%;
  height: 50px;
  padding: 0 45px 0 15px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  font-family: inherit;
}

header .top form button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER-SECTION */
.header-section {
  padding: 50px 20px 240px 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.header-section .left {
  margin-left: 80px;
  flex-shrink: 0;
}

.header-section .left .logo-wrapper {
  display: inline-block;
  text-align: center;
}

.header-section .left .logo-wrapper i {
  font-size: 80px;
}

.header-section .left .logo-wrapper p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.header-section .left .title {
  margin-top: 45px;
  font-size: 92px;
  font-weight: 400;
  font-family: "Reey";
  filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}

.header-section .left .subtitle {
  margin-top: 105px;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.header-section .left .btn {
  margin-top: 58px;
  height: 47px;
  padding: 0 35px;
  opacity: 0.9;
  border-radius: 21px;
  background-color: #fff;
  font-size: 25px;
  color: var(--primary-color);
  font-weight: 800;
}

.header-section .left .text {
  margin-top: 20px;
  max-width: 475px;
  font-size: 21px;
  letter-spacing: 1px;
  font-style: italic;
}

.header-section .right {
  max-width: 630px;
  position: relative;
}

.header-section .right .plate {
  width: 100%;
}

.header-section .right .cup {
  width: 32%;
  position: absolute;
  bottom: 10px;
  left: 25px;
  transform: translate(-50%, 50%);
}

.header-section .right .leaves {
  position: absolute;
  top: 90%;
  right: 0;
  z-index: -1;
}

/* SECTION-1 */
.section-1 {
  padding: 68px 20px 50px 20px;
}

.section-1 .title {
  font-size: 75px;
  color: var(--primary-color);
  font-family: "Reey";
  font-weight: 400;
  text-align: center;
}

.section-1 .subtitle {
  margin: 59px auto 0 auto;
  max-width: 700px;
  font-size: 27px;
  text-align: center;
}

.section-1 .cards-container {
  margin: 95px 0 0 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 95px;
}

.section-1 .card {
  max-width: 320px;
}

.section-1 .card img {
  width: 100%;
  filter: drop-shadow(0px 25px 12px rgba(12, 13, 12, 0.35));
}

.section-1 .card h3 {
  margin: 50px 0 0 15px;
  font-size: 29px;
  font-weight: 700;
}

.section-1 .card p {
  margin: 12px 0 0 15px;
  font-size: 23px;
}

.section-1 .btn {
  padding: 0 70px;
  height: 75px;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 23px;
  letter-spacing: 5px;
  font-weight: 800;
  display: block;
  margin: 115px auto 0 auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  .section-1 .cards-container {
    margin-left: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .header-section {
    flex-direction: column;
  }

  .header-section .left {
    margin-left: 0;
    text-align: center;
  }

  .header-section .left .text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  header .top {
    padding: 45px 20px;
    justify-content: space-between;
    gap: unset;
  }

  header .top .open-nav-btn {
    display: block;
  }

  header .top nav {
    padding-top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }

  header .top nav.open {
    opacity: 1;
    pointer-events: auto;
  }

  header .top ul {
    flex-direction: column;
  }

  header .top .close-nav-btn {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .header-section .left .title {
    font-size: 60px;
  }

  .header-section .left .subtitle {
    margin-top: 50px;
  }

  .section-1 .title {
    font-size: 40px;
  }

  .section-1 .subtitle {
    font-size: 22px;
  }

  .section-1 .btn {
    padding: 0 50px;
    font-size: 20px;
  }
}
