.section-1 .main-container {
  padding: 70px 20px 50px 20px;
}

.section-1 .title {
  font-size: 75px;
  color: #222328;
  font-family: "Reey";
  text-align: center;
  font-weight: 400;
}

.section-1 .subtitle {
  margin: 55px auto 0 auto;
  max-width: 700px;
  font-size: 27px;
  color: #2f3135;
  text-align: center;
}

.section-1 .cards-container {
  margin-top: 87px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.section-1 .card {
  max-width: 335px;
}

.section-1 .card img {
  width: 100%;
  max-width: 320px;
  filter: drop-shadow(1.883px 26.934px 12px rgba(12, 13, 12, 0.3));
}

.section-1 .card h3 {
  margin: 45px 0 0 30px;
  font-size: 29px;
  color: #343434;
  font-weight: 700;
}

.section-1 .card p {
  margin: 10px 0 0 30px;
  font-size: 23px;
  color: #343434;
}

.section-1 .btn {
  margin: 117px auto 0 auto;
  display: block;
  width: 100%;
  max-width: 334px;
  height: 75px;
  background-color: #343434;
  border-radius: 38px;
  color: #fff;
  font-size: 23px;
  letter-spacing: 5px;
  font-weight: 800;
}
