.section-3 .main-container {
  padding: 55px 0;
}

.section-3 .top {
  padding: 0 130px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-3 .top .left {
  max-width: 613px;
}

.section-3 .top .left img {
  width: 100%;
  filter: drop-shadow(4.185px 59.854px 28.5px rgba(12, 13, 12, 0.45));
}

.section-3 .top .right {
  max-width: 540px;
}

.section-3 .top .right h2 {
  font-size: 58px;
  color: #27292c;
  font-weight: 700;
  line-height: 1.2;
}

.section-3 .top .right p {
  margin-top: 33px;
  max-width: 510px;
  font-size: 29px;
  color: #27292c;
  line-height: 1.2;
}

.section-3 .top .right button {
  margin-top: 52px;
  width: 100%;
  max-width: 334px;
  height: 75px;
  border-radius: 37px;
  background-color: #27292c;
  color: #fff;
  font-size: 29px;
  letter-spacing: 6px;
  font-weight: 700;
}

.section-3 .bottom {
  margin-top: 120px;
  padding: 0 90px 0 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-3 .bottom .left {
  max-width: 510px;
}

.section-3 .bottom .left h2 {
  font-size: 58px;
  color: #27292c;
  font-weight: 700;
  line-height: 1.2;
}

.section-3 .bottom .left p {
  margin-top: 33px;
  max-width: 510px;
  font-size: 29px;
  color: #27292c;
  line-height: 1.2;
}

.section-3 .bottom .left button {
  margin-top: 52px;
  width: 100%;
  width: 334px;
  height: 75px;
  border-radius: 37px;
  background-color: #27292c;
  font-size: 23px;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 700;
}

.section-3 .bottom .right {
  max-width: 667px;
}

.section-3 .bottom .right img {
  width: 100%;
  filter: drop-shadow(8.35px 59.416px 17.5px rgba(12, 13, 12, 0.52));
  position: relative;
  z-index: 10;
}
