@import url("./reset.css");

:root {
  --primary-color: #232323;
  --secondary-color: #e9e7e7;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

.btn {
  padding: 0 55px;
  height: 54px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  font-family: inherit;
  text-transform: capitalize;
  font-size: 21px;
  letter-spacing: -1px;
  color: var(--primary-color);
  font-weight: 900;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

/* HEADER */
header {
  padding: 75px 130px 75px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  position: relative;
  z-index: 10;
}

header #open-nav-btn,
header #close-nav-btn {
  display: none;
  font-size: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header #close-nav-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--secondary-color);
}

header ul {
  display: flex;
  align-items: center;
  gap: 80px;
}

header li a {
  font-size: 21px;
  letter-spacing: -1px;
  color: var(--primary-color);
  font-weight: 900;
}

header li:not(:first-child) a {
  font-weight: 300;
}

/* SECTION-1 */
.section-1 {
  padding: 30px 130px 155px 110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 105px;
  position: relative;
  overflow: hidden;
}

.section-1 .left {
  max-width: 430px;
}

.section-1 .left,
.section-1 .right {
  position: relative;
  z-index: 5;
}

.section-1 .left h1 {
  font-size: 81px;
  letter-spacing: -2px;
  line-height: 1;
  font-weight: 700;
}

.section-1 .left p {
  margin-top: 15px;
  font-size: 17px;
}

.section-1 .left button {
  margin-top: 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.section-1 .right img {
  width: 100%;
}

.section-1 .scribble-1-1 {
  position: absolute;
  top: 60%;
  left: 0;
  opacity: 0.2;
  transform: scale(7);
}

/* SECTION-2 */
.section-2 {
  padding: 50px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section-2 h2 {
  margin: 0 auto;
  max-width: 440px;
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  background-color: var(--primary-color);
  position: relative;
  z-index: 5;
}

.section-2 p {
  margin: 20px auto 0 auto;
  max-width: 440px;
  font-size: 17px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 5;
}

.section-2 button {
  margin-top: 35px;
  padding: 0 60px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  position: relative;
  z-index: 5;
}

.section-2 .scribble-2-1 {
  position: absolute;
  top: 20%;
  left: 0;
  transform: scale(1.5);
}

.section-2 .scribble-2-2 {
  position: absolute;
  top: 70%;
  right: 40px;
  transform: scale(2);
}

/* SECTION-3 */
.section-3 {
  padding: 165px 20px;
  position: relative;
  overflow: hidden;
}

.section-3 .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.section-3 .card {
  max-width: 363px;
  position: relative;
  z-index: 5;
  background-color: var(--secondary-color);
}

.section-3 .card img {
  width: 100%;
}

.section-3 .card .line {
  margin-top: 27px;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}

.section-3 .card h3 {
  margin-top: 24px;
  max-width: 230px;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
}

.section-3 .card p {
  margin-top: 20px;
  font-size: 17px;
}

.section-3 .scribble-3-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.section-3 .scribble-3-2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: scale(1.6) translateX(20%);
}

/* SECTION-4 */
.section-4 {
  padding: 100px 20px 45px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section-4 .icon i {
  font-size: 75px;
}

.section-4 .title {
  margin: 60px auto 0 auto;
  max-width: 780px;
  font-size: 98px;
  letter-spacing: -2px;
  line-height: 1;
  font-weight: 700;
}

.section-4 .title span {
  font-style: italic;
  text-decoration: underline;
}

.section-4 .subtitle {
  margin-top: 48px;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 900;
}

.section-4 .container {
  margin: 150px auto 0 auto;
  max-width: 1210px;
  display: grid;
  grid-template-columns: 1fr 235px 1fr;
  grid-template-rows: 322px 1fr;
  grid-template-areas:
    "one two two"
    "one three four";
  gap: 75px 40px;
  text-align: left;
}

.section-4 .container .img-1-wrapper {
  grid-area: one;
  position: relative;
  z-index: 5;
}

.section-4 .container .img-1-wrapper .tape {
  width: 67px;
  height: 211px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-52%, -50%);
  opacity: 0.8;
}

.section-4 .container .img-2-wrapper {
  grid-area: two;
  justify-self: start;
  position: relative;
  z-index: 5;
}

.section-4 .container h3 {
  grid-area: three;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1.4;
  text-decoration: underline;
  font-weight: 700;
}

.section-4 .container .text-wrapper {
  grid-area: four;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

.section-4 .container .text-wrapper p:last-of-type {
  margin-top: 15px;
}

.section-4 .arrow {
  margin-top: auto;
  width: 140px;
  align-self: flex-end;
  position: relative;
  transform: translateY(-25px);
}

.section-4 .arrow .line-1 {
  width: 140px;
  height: 4px;
  background-color: var(--primary-color);
}

.section-4 .arrow .line-2 {
  width: 38px;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -2px;
  right: -1px;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}

.section-4 .arrow .line-3 {
  width: 38px;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  top: -1px;
  right: -1px;
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}

.section-4 .scribble-4-1 {
  position: absolute;
  top: 35%;
  right: 0;
  opacity: 0.2;
  transform: scale(7);
}

/* SECTION-5 */
.section-5 {
  padding: 155px 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.section-5 .container {
  margin-left: 115px;
  display: flex;
  justify-content: space-between;
}

.section-5 .container > * {
  flex-shrink: 2;
}

.section-5 .left {
  max-width: 460px;
}

.section-5 .left h2 {
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
}

.section-5 .left h3 {
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 900;
  font-family: inherit;
}

.section-5 .left h3:first-of-type {
  margin-top: 110px;
}

.section-5 .left h3:last-of-type {
  margin-top: 50px;
}

.section-5 .left p {
  margin-top: 12px;
  font-size: 17px;
}

.section-5 .right img {
  width: 100%;
  position: relative;
  z-index: 5;
}

.section-5 .scribble-5-1 {
  position: absolute;
  bottom: 20px;
  left: -20px;
  transform: scale(2);
}

/* SECTION-6 */
.section-6 {
  padding: 150px 20px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.section-6 .left {
  max-width: 740px;
}

.section-6 .left .container {
  margin-top: 50px;
}

.section-6 .left h2 {
  font-size: 81px;
  letter-spacing: -2px;
  line-height: 1;
  font-weight: 700;
}

.section-6 .left .line {
  height: 3px;
  background-color: var(--primary-color);
}

.section-6 .left .item .header {
  padding: 0 35px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section-6 .left .item .header p {
  font-size: 17px;
}

.section-6 .left .item .header .toggle-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-6 .left .item .header .toggle-btn .fa-minus {
  display: none;
}

.section-6 .left .item .header .toggle-btn .fa-plus {
  display: block;
}

.section-6 .left .item.active .header .toggle-btn .fa-minus {
  display: block;
}

.section-6 .left .item.active .header .toggle-btn .fa-plus {
  display: none;
}

.section-6 .left .item .header i {
  font-size: 24px;
}

.section-6 .left .item .text-wrapper {
  padding: 0 35px 0 35px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.section-6 .left .item.active .text-wrapper {
  padding-bottom: 35px;
  grid-template-rows: 1fr;
}

.section-6 .left .item .text {
  font-size: 18px;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1440px) {
  .section-1 {
    padding: 30px 20px 80px 20px;
    text-align: center;
  }

  .section-1 .left {
    max-width: 800px;
  }
}

@media screen and (max-width: 1150px) {
  .section-4 .container {
    grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    grid-template-rows: auto;
    grid-template-areas:
      "one one"
      "three four";
    justify-content: center;
    row-gap: 40px;
  }

  .section-4 .container .img-1-wrapper,
  .section-4 .container .img-2-wrapper {
    justify-self: center;
  }

  .section-4 .container .img-2-wrapper {
    display: none;
  }

  .section-4 .container img {
    width: 100%;
  }

  .section-4 .arrow {
    margin-top: 70px;
  }

  .section-5 {
    padding: 80px 20px;
  }

  .section-5 .container {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
  }

  .section-5 .left h3:first-of-type {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding: 75px 20px;
  }

  .section-6 .right {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 50px 20px;
  }

  header #open-nav-btn {
    display: block;
  }

  header nav {
    padding-top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  header nav.open {
    transform: translateX(0);
  }

  header #close-nav-btn {
    display: block;
  }

  header ul {
    flex-direction: column;
    gap: 50px;
  }

  header li a {
    color: var(--secondary-color);
    font-size: 26px;
  }

  .section-1 .left h1,
  .section-4 .title {
    font-size: 44px;
  }

  .section-2 h2,
  .section-5 .left h2,
  .section-6 .left h2 {
    font-size: 40px;
  }

  .section-3,
  .section-6 {
    padding: 80px 20px;
  }

  .section-4 .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "three"
      "four";
    justify-content: center;
    row-gap: 40px;
    text-align: center;
  }

  .section-4 .subtitle {
    font-size: 22px;
  }

  .section-6 .left h2 {
    text-align: center;
  }
}
