@import url("./reset.css");
@import url("./header.css");
@import url("./section-1.css");
@import url("./section-2.css");
@import url("./section-3.css");
@import url("./section-4.css");
@import url("./section-5.css");

@import url("./media-queries.css");

body {
  font-family: "Open Sans", sans-serif;
}

.site-wrapper {
  overflow: hidden;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;

  /* TODO: delete next lines */
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.z10 {
  position: relative;
  z-index: 10;
}

.btn {
  border:none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}
