@media screen and (max-width: 1050px) {
  header .top .right {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }

  header .top .right ul {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .section-2 .main-container,
  .section-3 .main-container {
    flex-direction: column;
  }

  .section-2 .main-container > *,
  .section-3 .main-container > *  {
    width: auto;
  }

  .section-2 .right,
  .section-3 .left {
    padding: 100px 20px;
    text-align: center;
  }

  .section-2 .right h2,
  .section-2 .right p,
  .section-3 .left h2,
  .section-3 .left p {
    margin-right: auto;
    margin-left: auto;
  }

  .section-5 .main-container {
    padding-right: 20px;
  }
}
