@media screen and (max-width: 1050px) {
  header .top .right {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }

  header .top .right ul {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .section-2 .main-container,
  .section-3 .main-container {
    flex-direction: column;
  }

  .section-2 .main-container > *,
  .section-3 .main-container > *  {
    width: auto;
  }

  .section-2 .right,
  .section-3 .left {
    padding: 100px 20px;
    text-align: center;
  }

  .section-2 .right h2,
  .section-2 .right p,
  .section-3 .left h2,
  .section-3 .left p {
    margin-right: auto;
    margin-left: auto;
  }

  .section-5 .main-container {
    padding-right: 20px;
  }
}

@media screen and (max-width: 700px) {
  header .top {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    gap: 30px;
  }

  header .top .right {
    gap: 30px;
  }

  header .top .right ul {
    flex-wrap: wrap;
  }

  header .top .right form {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  header .bottom {
    padding-top: 100px;
    padding-left: 20px;
  }

  header .bottom h1 {
    font-size: 65px;
  }

  .section-5 h2 {
    font-size: 55px;
  }

  .section-7 input {
    padding-right: 20px;
  }

  .section-7 button {
    margin-top: 20px;
    max-width: none;
    position: static;
  }

  footer .main-container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 40px;
  }
}
